from nibel.model.msgspec_utils.custom_types.enum import BaseEnumMeta, FloatEnum, IntEnum, StrEnum


{% for name, description, type, enum_dict, enumerations_descriptions in enums %}
{% if type == "string" %}
class {{ pascal_case(name) }}(StrEnum, metaclass=BaseEnumMeta):
    {% if description %}
    """{{ chunks_str(refactor_field_description(description)) }}"""
    {% endif %}

    {% for enum_name, enum_value in enum_dict.items() %}
    {{ enum_name }} = "{{ enum_value }}"
    {% if enumerations_descriptions and enum_name in enumerations_descriptions %}
    """{{ chunks_str(enumerations_descriptions[enum_name]) }}"""

    {% endif %}
    {% endfor %}
{% elif type == "integer" %}
class {{ pascal_case(name) }}(IntEnum, metaclass=BaseEnumMeta):
    {% for enum_name, enum_value in enum_dict.items() %}
    {{ enum_name }} = {{ enum_value }}
    {% endfor %}
{% elif type == "number" %}
class {{ pascal_case(name) }}(FloatEnum, metaclass=BaseEnumMeta):
    {% for enum_name, enum_value in enum_dict.items() %}
    {{ enum_name }} = {{ enum_value }}
    {% endfor %}
{% endif %}
{% if not loop.last %}


{% endif %}
{% endfor %}


__all__ = (
    {% for name, _, _, _, _ in enums %}
    "{{ pascal_case(name) }}"{% if not loop.last %},{% endif %}

    {% endfor %}
)
